@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap'); /* h1 titulo; font-family: 'Alex Brush', cursive;  */
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap'); /* h2 subtitulo; font-family: 'Tangerine', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap'); /* p conteudo; font-family: 'Antic Didone', serif; */ 

body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #d8d5d5;
    overflow: hidden;
}

#topo-menu{
    text-align: right;
    margin: 10px;
    max-width: 100%;
    margin-top: 13px;
}

#topo-menu a{
    margin-right: 25px;
    color: #000000;
    text-decoration: none;
    font-family: 'Antic Didone', serif;
    font-weight: 600;
    border: 2px solid  #353333;
    border-radius: 7px;
    padding: 6px;  
    
    
}

div#topo-logo img{
    border-radius: 500px;
    position: absolute;
    max-width: 80px;   
    width: 100%;
    margin-left: 10px;
}

#titulo1{
    max-width: 300px;
}

h1{
    font-family: 'Tangerine', 'cursive', serif;;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 4em;
    font-weight: 700;
    max-width: 100%;
    width: 300px;
    margin: auto;
}

@media screen and (max-width: 600px) {
    h1 {
      font-size: 2.5rem;
    }
  }

#eu{
    text-align: center;
    margin-bottom: 70px;
}

.conteudo{
    font-family: 'Antic Didone', sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    text-align: justify;
    margin: 10px;
        
}

@media screen and (max-width: 600px) {
    .conteudo {
      font-size: 1.0rem;
    }
  }

.content{
    height: 280px;
    max-width: 400px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin: auto;
    box-shadow: 1px 1px #00000069;

}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%; 
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar{
    width: 35px;
    height: 15px;
    border: 2px solid #ffffff;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;         
    transition: 0.3s;
}

.bar:hover{
    background-color: #ffffff;  
}

input{
    display: none;
}

.slides{
    display: flex;
    width: 500%;
    height: 100%;
}

.slide{
    width: 20%;
    transition: 0.6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1{
    margin-left: 0;
}

#slide2:checked ~ .s1{
    margin-left: -20%;
}

#slide3:checked ~ .s1{
    margin-left: -40%;
}

#slide4:checked ~ .s1{
    margin-left: -60%;
}

#slide5:checked ~ .s1{
    margin-left: -80%;
}

.whats{
    width: 150px;
    position: fixed;
    height: 50px;
    margin: 10px;
    
}

.pq{
    width: 30px;
}

.social{
    display:flex;
    flex-direction: column;
}

.dev{
    bottom: 10px;
    right: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.eu{
    text-decoration: none;
    border-bottom: 2px solid blue;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 10px;
    max-width: 800px;
}

.sublinhado{
    border-bottom: 2px solid blue;
    padding: 2px;
}

.dev a:visited{
    text-decoration: none;
    color: black;
    border: 2px solid lightgrey;
    cursor: pointer;
    font-family: sans-serif;
}