@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap'); /* h1 titulo; font-family: 'Alex Brush', cursive;  */
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap'); /* h2 subtitulo; font-family: 'Tangerine', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap'); /* p conteudo; font-family: 'Antic Didone', serif; */ 

:root{
    --cor-de-fundo-site: #d8d5d5;    

    --fonte-titulo: 'Alex Brush', cursive, serif;
    --fonte-subtitulo: 'Tangerine', cursive, serif;
    --fonte-conteudo: 'Antic Didone', serif;
} 

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; 
    color: white;
}

body{
    background-color: black;
   
}

main{
    max-width: 1000px;
    background-color: black;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 70px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 30px;

}

h1{
    color:white; 
    margin:10px auto;
    text-align: center;
    margin: 10px;
    font-family: var(--fonte-titulo);
    font-size: 4.0em;
    /*background-color: #8b8b8b;*/
    max-width: 1000px;
    display: inline-block;
}

.two-color{
    color:#061da1; 
    font-family: var(--fonte-titulo);
}

#conteudo-principal{
    max-width: 600px;
    display:block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.orçamento{
    display: flex;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    margin: 30px auto;
    margin-top: 40px;
    margin-bottom: 40px;

}

.orçamento a {

    text-decoration: none;
    text-align: center;
    font-size: 20px;
    background-color: red;
    color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;

}

.orçamento a:hover{
    background-color: white;
    color: red;
    
}

h2{
    background-color: black;
    color: white;
    margin: 15px auto;
    margin: 80px 20px 25px 0;
    text-align: center;
    font-family: var(--fonte-subtitulo);
    font-size: 2.5em;

}

.container-tatto{
    max-width: 700px;
    display: flex;
    margin: auto;
    padding: 10px;
    padding-left: 30px;
    align-items: center;
    justify-content: center;
    
}

.flexwrap{
    flex-wrap: wrap;
}


img{
    width: 200px;
    height: 280px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.insta{
    display: flex;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    margin: 30px auto;
    margin-top: 40px;
    margin-bottom: 40px;

}

.insta a {

    text-decoration: none;
    text-align: center;
    font-size: 20px;
    background-color: #061da1;
    color: white;
    padding: 20px 50px;
    border-radius: 10px;
    cursor: pointer;

}

.insta a:hover{
    background-color: white;
    color: black;
    
}

.contato{
    display: flex;
    align-items: center;
    justify-content: center;
   
}


iframe{
    max-width: 700px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}


.icon{
    font-size: 1.5rem;
    color: white;
    display: flex;
}

.container-dev{
    margin-top: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.container-dev a{
    text-decoration: none;
}

.container-dev a:visited{
    text-decoration: none;
    color: white;
    border: 2px solid lightgrey;
    cursor: pointer;
    font-family: sans-serif;
}

.sublinhado{
    border-bottom: 2px solid blue;
    padding: 2px;
}




@media (max-width: 500px) {
    .container-tatto {
        display: block;
        margin: auto;
        align-items: center;
        justify-content: center;
   
        
    }

    .container-tatto img{
        width: 150px;
        height: 180px;
    }

    h1{
        font-size: 2.8em;
        margin-left: 30px;
    }

    #conteudo-principal{
        font-size: 1.1em;
    }

    iframe{
        width: 280px;
        height: 200px;
    }

  }