@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap'); /* h1 titulo; font-family: 'Alex Brush', cursive;  */
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap'); /* h2 subtitulo; font-family: 'Tangerine', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap'); /* p conteudo; font-family: 'Antic Didone', serif; */ 

:root{
    --cor-de-fundo-site: #d8d5d5;    

    --fonte-titulo: 'Alex Brush', cursive, serif;
    --fonte-subtitulo: 'Tangerine', cursive, serif;
    --fonte-conteudo: 'Antic Didone', serif;
} 

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;  
}

body{
    background-color: var(--cor-de-fundo-site);
}


header{
    background-color: #23434e;
    margin: 5px 10px;
}

header > nav > ul{
    list-style-type: none;
    background-color:c;
    padding: 3px;
}

header > nav > ul > li{
    display: inline-block;
    padding: 7px;
    margin: 2px;
    align-items: center;
    color: white;
    background-color: #283438;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}

header > nav > ul > li a{
    text-decoration: none;
    color:white;
}

header > nav > ul > li:hover{
    background-color: #050505;
    color:white;
    transition: 0.4s;
}


header > nav > ul > li a:visited{
    background-color: #add8e6;
    color:white;
    text-decoration: none;  
       
}

h1{
    color:#050505; 
    margin:10px auto;
    text-align: center;
    margin: 10px;
    font-family: var(--fonte-titulo);
    font-size: 4.0em;
}

#conteudo-principal{
    max-width: 600px;
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.orçamento{
    display: flex;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}

.orçamento a {

    text-decoration: none;
    text-align: center;
    font-size: 20px;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.orçamento a:hover{
    background-color: white;
    color: red;
    
}

.tatuadores{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 80px;
    padding: 10px;

}

.tatuadores img{
    width: 200px;
    height: 200px;
    margin: 5px 10px;
    border-radius: 10px;
    align-items: center;
}

.tatuadores p{
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

h2{
    background-color: #23434e;
    color: white;
    margin: 10px auto;
    margin-left: 10px;
    margin-right: 10px;
    text-indent: 8px;
    text-align: center;
    font-family: var(--fonte-subtitulo);
    font-size: 3.0em;

}

.container-tatto{
    display: flex;
    margin: auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

img{
    width: 300px;
    margin-left: 10px;
}

.container-dev{
    margin-top: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container-dev a{
    text-decoration: none;
}

#linkedin{
    text-decoration: none;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 10px;
    max-width: 800px;
}

.sublinhado{
    border-bottom: 2px solid blue;
    padding: 2px;
}

.container-dev a:visited{
    text-decoration: none;
    color: black;
    border: 2px solid lightgrey;
    cursor: pointer;
    font-family: sans-serif;
}

@media screen and (min-width:320px){
    .container-tatto{
        display: block;
    }

    .container-tatto img{
        width: 180px;
    }

    #conteudo-principal{
        width: 380px;
        font-size: 1.1em;
    }

}